[2020-04-13 11:21] varvaray opened #517 "Uniqueness validation doesn't work"
Gem version - composite_primary_keys (8.1.3)
Rails version - rails (4.2.11)

I have a model with composite primary key -
`self.primary_key = %i(code partnerid)`
And i have a uniqueness validation on code looking like that -
[code]
It works nicely on create -
[code]

But on update the exists request to database looks like that -
[code]

Which results in passing it through and then getting ActiveRec

[2020-04-13 11:35] varvaray commented on #517
I wrote a workaround -
[code]

with validate :uniqueness for the model, which seems to work, but would be nice to have uniqueness support out of the box.

[2020-04-20 06:00] cfis commented on #516
Its expected. Suppose we could silence that warning. What version of Rails?

[2020-04-20 06:00] cfis commented on #517
Thanks for the report - that does seem like a bug.

[2020-04-20 10:52] mike-loopvoc commented on #516
6.0.2.2 Sent from Mail for Windows 10 From: Charlie SavageSent: Monday, April 20, 2020 2:00 AMTo: composite-primary-keys/composite_primary_keysCc: mike-loopvoc; AuthorSubject: Re: [composite-primary-keys/composite_primary_keys] After installing gem, still seeing "WARNING: Active Record does not support composite primary key." (#516) Its expected. Suppose we could silence that warning. What version

[2020-04-23 19:27] andrewyoo opened #518 "Default false value not setting correctly on create"
I am experiencing an issue where I run `Model.create` with a column in the composite index that is defaulted to `false`.  The object returned has this field set to `nil`. The record is correctly created, but the object instantiated is not.

This is occurring in v11.3.1

I have tracked the change to this:

https://github.com/composite-primary-keys/composite_primary_keys/commit/e7dab1432747c0ade3ca1

[2020-04-27 05:36] cfis commented on #518
The reason for that change was to allow setting some of the keys and filling the remaining ones with default values (there was a issue about it IIRC).

In general I think that's the right approach. But I didn't consider that a valid value would be false. Want to add a patch for that case?

[2020-04-27 08:24] andrewyoo commented on #518
In older versions (11.2.0 and the rails 4.2 version) i didn't have an issue with ActiveRecord not correctly setting the defaulted values, but I can only say that was the case for mysql. I have submitted a PR that you can look at.

Thanks!

[2020-05-12 14:27] maurercw commented on #516
I'm seeing that pesky message as well!  Running rails 5.2.4.2 currently.

[2020-05-16 07:27] net1957 opened #521 "SQL*Server fail on insert"
upgrading a application from Rails 5.x to 6.0 give the error "wrong number of arguments (given 3, expected 5)"

it seems the signature of **sql_for_insert** in lib\composite_primary_keys\connection_adapters\sqlserver has to be changed from
sql_for_insert(sql, pk, id_value, sequence_name, binds)
to
def sql_for_insert(sql, pk, binds)

This change is already present in PostgreSQL ConnectionAdapters

[2020-05-19 05:36] cfis commented on #521
Hmm, that was done quite a while ago. See:

https://github.com/composite-primary-keys/composite_primary_keys/blob/master/lib/composite_primary_keys/connection_adapters/sqlserver/database_statements.rb

Am I missing something?

[2020-05-19 18:34] net1957 commented on #521
My bad ! Didn't check the repo, but the version on my computer...

But when can we expect a release ?

[2020-05-19 19:21] cfis commented on #521
Ah sorry - I thought it was released.  I'll make a new release.

[2020-05-20 00:24] cfis commented on #521
Ok new gem version released.

[2020-05-20 00:24] #521 closed

[2020-05-20 00:25] cfis commented on #516
Happy to take a patch!

[2020-05-27 12:31] gravitystorm opened #522 "sync_with_transaction_state removed in active record 6.1"
This is just a heads-up, since activerecord 6.1 hasn't been released yet, but I found this problem while working on something else entirely.

`sync_with_transaction_state` is called from multiple places in composite_primary_keys, so will need updating for compatibility when 6.1 is released.

https://github.com/rails/rails/pull/39121

[2020-05-28 07:07] cfis commented on #522
Thanks.  Patches welcomed :)

[2020-06-03 23:55] ElwoodBermuda commented on #224
This issues exists as well in the:
Version 10.x is designed to work with ActiveRecord 5.1.x
Composite keys has
module ActiveRecord
  module ConnectionAdapters
    class SQLServerAdapter
and the active record has:
module ActiveRecord
  module ConnectionAdapters
    module SQLServer
      module DatabaseStatements

[2020-06-07 06:21] cfis commented on #224
Would it be possible to submit a patch to fix?

Can you reproduce using the CPK test suite?

[2020-07-16 06:58] ral-wtag commented on #518
@cfis  I have faced this issue in the latest version.
While I was trying to create an object which has cpk (e.g `User.create()`) it creates the object in the database but reruns id nil.

I have tried to solve the issue by overriding the [_create_record](https://github.com/composite-primary-keys/composite_primary_keys/blob/master/lib/composite_primary_keys/persistence.rb#L68-L70) method like this,

[2020-09-14 17:52] ndguarino opened #526 "AttributeMethods has_attribute? override conflicts with other gems"
Problem:
    `composite_primary_keys`'s override of ActiveRecord::AttributeMethods.has_attribute? uses AttributeMethods.attributes instead of @attributes as the original method it overrides does. This conflicts with gems which override AttributeMethods.attributes, creating a situation which will cause a SystemStackError.

Fix:
  In the gem's override of has_attribute?, convert the `attributes` cal

[2020-09-14 17:53] ndguarino commented on #526
Fix implemented in PR #527

[2020-10-12 19:27] seandilda opened #529 "(version 12.0.2) #delete_all generates invalid SQL when used with STI"
AR+composite_primary_keys is generating invalid SQL when I call #delete_all on a model using composite keys and STI

My models look like:

[code]

When I call `DataSource::Record::Vulnerability.delete_all`, I receive the following error:
[code]

Not only is the SQL invalid, its much more complex than needed.  It should be able to call something along the lines of:
[code]

I am using:
rails 6.0.3.4

[2020-10-13 17:28] codeodor commented on #529
@cfis I'm not sure, but seems like this might be related to https://github.com/composite-primary-keys/composite_primary_keys/pull/504

[2020-11-04 08:50] #526 closed

[2020-11-09 22:45] maurercw commented on #497
I'm encountering this same error on 12.0.2.  Any progress on getting this fixed?

[2020-11-11 09:25] #491 closed

[2020-11-11 09:25] cfis commented on #491
Sorry for the very long delay. Better late than never I guess? Thanks for the report.

[2020-11-11 09:32] cfis commented on #224
Ok, I've installed SQL server and cannot reproduce this on master (rails 6). So going to close this.

[2020-11-11 09:32] #224 closed

[2020-11-11 09:36] cfis commented on #529
This should be fixed by 1e238902e5a5df97eb344926869d5af6ccda3787.
Yes, the generated SQL is complex (although a bit less now). But that's because delete_all can be called on a join, thus the safest way to do this is via a subquery (Rails does that too, but does have a check for the simpler case).

[2020-11-11 09:36] #529 closed

[2020-11-11 09:40] cfis commented on #518
Ok, this should be fixed by cf82cef70a7b92705dce5b5302c0f742408be794.

[2020-11-11 09:40] #518 closed

[2020-11-11 21:16] cfis commented on #517
Took a look at this at it works as expected on the latest version (CPK 12.*) on Rails 6.0.*.

So going to close this. CPK 8.* is no longer supported, I'd recommend upgrading if at all possible.

[2020-11-11 21:16] #517 closed

[2020-11-11 21:24] #516 closed

[2020-11-11 21:24] cfis commented on #508
Haven't heard back, so closing. Reopen if you still need help.

[2020-11-11 21:24] #508 closed

[2020-11-11 21:25] cfis commented on #498
Closing since haven't hard back.

[2020-11-11 21:25] #498 closed

[2020-11-11 23:40] cfis commented on #497
This is fixed in 1e238902e5a5df97eb344926869d5af6ccda3787.

[2020-11-11 23:40] #497 closed

[2020-11-12 02:13] cfis commented on #454
The CPK gem is dependent on ActiveRecord, so bundler will ensure ActiveRecord is first loaded. So this should not be an issue.

[2020-11-12 02:13] #454 closed

[2020-11-12 02:40] cfis commented on #487
I'm going to consider using a jsob field as part of a primary key as unsupported since it doesn't seem worth to try and fix this (and not sure how to fix it either for that matter).

[2020-11-12 02:40] #487 closed

[2020-11-12 05:27] cfis commented on #477
Based on changes in b0413f5 I'm going to close this. Note that calling model.id is still going to give you back an array, there really is no way around that. But model.attributes['id'] will give you back the right value. Create seems to work, and there are some fixes with associations. So hopefully this is workable now.

[2020-11-12 05:27] #477 closed

[2020-11-12 05:31] cfis commented on #450
Added the example test, which now works as it should. Hopefully this was fixed in b0413f5 or earlier commits.
Thanks for the report.

[2020-11-12 05:31] #450 closed

[2020-11-12 08:04] FooBarWidget commented on #279
Active Record 5 supports creating primary keys in migrations (although it can't use them without the composite_primary_keys gem).

[code]

Executes:

[code]

[2020-11-12 22:52] cfis commented on #279
Nice - good to know!

[2020-12-04 07:22] cfis opened #533 "Can't Build Test Database with Latest MySQL"
MySQL version 8.0.2 added groups as a reserved word:

https://dev.mysql.com/doc/refman/8.0/en/keywords.html

Thus the test database no longer builds since it has a table called groups.

[2020-12-04 07:47] #533 closed

[2020-12-04 07:51] cfis opened #534 "How to do Deletes"
Creating a separate ticket for this issue. Should create on for updates also. There are 6 databases we test against - Postgres, MariaDb, Sqlite, MySQL, Oracle and SQLServer.

### IN
Currently CPK uses an IN clause to do deletions - this is what stock Rails does also:

[code]

Recently supported - SQLite (you need a newer version, I'm not sure which one but this now works and once upon a time it di

[2020-12-13 18:53] net1957 opened #535 "SQL-SERVER: fail on insert when trigger defined. since 12.0.3"
I Have a sql*table defined as:
_create table sktable
(
    id         int identity
                constraint PK_sktable
                primary key,
    created_at datetime2
                constraint DF_sktable_created_at default getdate() not null,
    data       xml
)
go_

a trigger is defines, so in the table definition  I added to the model:
ActiveRecord::ConnectionAdapters::SQLServerAdapter

[2020-12-14 06:36] kenpang89 opened #536 "NoMethodError (private method `column_for' called for #<ActiveRecord::ConnectionAdapters::Mysql2Adapter:0x00007f91fca21990> Did you mean? columns):"
I'm getting this error when I try to insert new record.
ruby -v : 2.6.6
rails -v : 6.0.3.4
composite_primary_keys (12.0.3)
activerecord (~> 6.0.0)

[2020-12-14 09:57] cfis commented on #536
Can you provide a traceback please.

[2020-12-14 09:59] cfis commented on #535
Hmm, that generated sql looks fairly different. That is done by the activerecord sql server gem. Are you using different version of it? If not, which version are you using and have you recently changed it?

[2020-12-15 10:59] net1957 commented on #535
Hello,

activerecord-sqlserver-adapter is on version 6.0.0
Nothing has changed. In the preparation of a future move to rails 6.1 (actually on 6.0.3.4) I try to be current on all the gems.
If I revert back to composite_primary_keys version 12.0.2, all is working as expected.

Perhaps related to commit af98960

[2020-12-16 06:03] cfis commented on #535
Yeah I suspect you are right. Will take a look.

[2020-12-28 11:57] gravitystorm commented on #522
See #531 for a related pull request.

[2020-12-29 03:34] conathan commented on #536
I am also having the same issue,

Ruby 2.5.5p157, from Centos 8.3
rails 6.0.3.4
composite_primary_keys 12.0.3

irb(main):004:0> u.add_wblist('test5@test.com', 'W')
  AmavisMailaddr Load (30.7ms)  SELECT `mailaddr`.* FROM `mailaddr` WHERE `mailaddr`.`email` = x'746573743540746573742e636f6d' ORDER BY `mailaddr`.`id` ASC LIMIT 1
   (15.3ms)  BEGIN
  AmavisMailaddr Create (14.0ms)  INSERT INTO `mailad

[2020-12-31 04:44] cfis commented on #536
This is fixed by #532.

[2020-12-31 04:44] #536 closed

[2020-12-31 04:48] cfis commented on #535
Ok, I took a look at this, and I don't know. This error does not show up in the test database. I agree that mass updates and deletes are broken for sql server (and were before). But this is an insert statement.

What is @ssaIdInsertTable? Sure your code hasn't changed?

[2020-12-31 04:49] cfis commented on #534
Note that MySQL will actually do IN queries - the error is that you can reference a table you are updating. So previously we obfuscated that by doing this:

`
DELETE FROM `reference_codes` WHERE (reference_codes.reference_type_id, reference_codes.reference_code) IN (SELECT reference_type_id,reference_code FROM (SELECT DISTINCT `reference_codes`.`reference_type_id`, `reference_codes`.`reference_cod

[2020-12-31 05:24] #534 closed

[2020-12-31 05:31] cfis opened #537 "Switch to Github Actions For Tests"
Since tarvis.org is going away, we need to switch to travis.com or Github actions. I tried moving to Travis.com last month but failed. Seems like Github actions is worth a try, I see other projects moving to it.

[2020-12-31 10:41] net1957 commented on #535
we can see @ssaIdInsertTabl in https://github.com/composite-primary-keys/composite_primary_keys/commit/af9896014b8b1d7d01542ca6e17b56c0e171b1e8 in file lib/composite_primary_keys/connection_adapters/sqlserver/database_statements.rb

I tested some times, only changing the version of the gem between 12.0.2 and 12.0.3 and it happened each time in 12.0.3 and never in 12.0.2. No other changes on the co

[2020-12-31 22:32] cfis commented on #535
Ah - that's helpful. Ok, what happened is that I updated the sqlserver adapter code that CPK overrides. Note this code is only triggered if the table is added to the "exclude_output_inserted_table_name" has in the apater. I guess you must be doing that? The tests don't do that, thus don't see an issue.

[2020-12-31 22:32] #535 closed

[2020-12-31 22:37] cfis commented on #535
Try 12.0.5 and see if it works.

[2021-01-01 18:15] net1957 commented on #535
It works! Thanks for this last 2020 commit!

[2021-01-01 22:20] cfis commented on #535
Great - thanks for helping to track this down!

[2021-01-04 14:12] vladhadzhiyski commented on #316
Has anyone been able to fix or come up with a more straight forward solution than monkey patching things?

I'm also running into this same issue:

[code]

[2021-01-04 22:14] jasonkarns opened #538 "uninitialized constant CompositePrimaryKeys::ActiveRecord::Batches::BatchEnumerator"
The Batches module in CPK references a non-existent constant. `BatchEnumerator` is not defined in the CPK gem.

[code]

I've temporarily worked around this issue with: `CompositePrimaryKeys::ActiveRecord::Batches::BatchEnumerator = ActiveRecord::Batches::BatchEnumerator`

[2021-01-04 23:30] cfis commented on #316
For what its worth, the latest release has the best sql servers support CPK has ever had. But it does require Active Record 6.

For old CPK releases that are no longer supported, yes, just make a monkey patch. Feel free to submit a patch and it can be integrated in if tests pass.

[2021-01-05 05:35] #538 closed

[2021-01-05 05:38] cfis commented on #538
Thanks for the report. Its not so easy triggering that code - but I added a test and pushed a fix.

[2021-01-05 15:09] jasonkarns commented on #538
Awesome, thanks @cfis !!

[2021-01-18 15:12] ta1kt0me opened #539 "Can't clear query_cache in mysql"
## What is problem

1. Find a record which is not still created.
2. Create the record.
3. Find it again, but it returns nil becuase of query cache of the first step.

This is now caused by a change in object hierarchy at https://github.com/composite-primary-keys/composite_primary_keys/commit/cf82cef70a7b92705dce5b5302c0f742408be794.

[When ActiveRecord::ConnectionAdapters::QueryCache is included,

[2021-01-19 04:16] cfis commented on #539
Thanks for the detailed report - will take a look!

[2021-01-26 07:24] #537 closed

[2021-01-27 05:38] brightbytes-dude opened #541 "Adding CPK to a repo breaks polymorphic joins to legacy single-PK classes whose `to_param` is not based upon the `id`"
I have a legacy class with the normal `id` as its PK, but whose `to_param` method returns the (unique) `slug` of the object.

Several places in my codebase have a polymorphic join to instances of that class, and they've been working fine for years.

However, when I drop in CPK and use the `self.primary_keys =` declaration on another, entirely unrelated class (so unrelated it's in a different DB en

[2021-01-28 22:50] wimpog opened #542 "Does not work with activerecord 6.1.X"
Please release a version that is compatible with with activerecord 6.1.X.

[code]

[2021-01-28 23:27] codeodor commented on #542
Hi @wimpog, you might look at https://github.com/composite-primary-keys/composite_primary_keys/pull/531 and see if it meets your needs. It's not quite ready yet, as my own app still has failures, but maybe it will pass all your tests, or if not, I'm happy to have someone add to the pull request if you find any bugs!

[2021-01-28 23:41] wimpog commented on #542
@codeodor you'll release it soon?

[2021-01-31 02:06] codeodor commented on #542
I am not sure how soon it'll be ready. All the tests pass here, so it may work for you as-is, but no warranty is implied, in general, but also more specifically because in my own app which uses it there is an issue. I have a workaround for it, but I haven't been able to figure out how to fix CPK to ensure it doesn't happen.

[2021-01-31 02:07] codeodor commented on #542
(Also it seems I need to merge some other commits from the main branch, which conflict.)

Truthfully I thought I'd be done by now but work has been hectic and I haven't had as much time to put into polishing it and finishing it as I'd like.

[2021-01-31 18:54] wimpog commented on #542
@codeodor please work on it, if you can. I want to upgrade to rails 6.1 and this is the only stopper for me. Thank you for your hard work.

[2021-02-03 14:30] DCrow opened #543 "Doesn't work with rails 6.0"
Having problems upgrading to 6.0 from 5.2.

In rails 5.2 this code was working correctly, but for 6.0 this always fails.
[code]

The resulting SQL is different
[code]

Example table is defined as follows
[code]

An [example](https://github.com/DCrow/composite_primary_keys/commit/68b7d05229d7b2f927e2f5c1f6d59597c68ed88e) demonstrating this error.

[2021-02-04 03:22] cfis commented on #543
Thanks for the test case. Will take a look.

[2021-02-13 00:21] codeodor commented on #542
@wimpog Thank you for understanding! You might try the PR and see if it contains any bugs for your app. I am still swamped at work and it looks like it'll be at least 2 more weeks before I get to look into this again. I am eager to get it done, but I have too many urgent tasks ahead of it.

[2021-02-15 13:38] DCrow commented on #543
@cfis Any progress on this issue?

[2021-02-15 21:03] cfis commented on #543
Sorry not yet. Tried yesterday but ran into bundler issues that I needed to resolve.
https://github.com/rubygems/rubygems/issues/4375

[2021-02-16 01:33] cfis commented on #539
I couldn't actually create a test to duplicate the issue (I followed your very good example). But I do believe its fixed. Issue was CPK first needs to load the mysql database adapter before overriding it, otherwise the inheritance hierarchy is incorrect.

Thanks for the report and detailed information!

[2021-02-16 01:42] cfis commented on #543
Ok, at least on mysql this seems to be working fine for me. I added a test case that should be the same as the one you sent in - can you look?

What database are you using, perhaps its something database specific.

[2021-02-16 05:56] cfis commented on #541
Sorry for the late reply.

Ok so I would need some more information to really understand what is happening. Can you provide:

* A traceback of what error you are seeing?
* The code you are using to workaround the issue

And what would be really great, ifpossible, is a failing test that uses CPK's existing test database.

[2021-02-16 07:52] DCrow commented on #543
Yes, your test case works in my case too.
It seems that the problem is with this
[code]
In your case the primary keys are `[:tariff_id, :start_date]`.
My guess is that `id` field in the table is the problem.

In master branch I still can reproduce this problem in my example using MySQL and Postgresql.

[2021-02-16 20:44] brightbytes-dude commented on #541
No worries: I had a workaround, so it wasn't a big deal.

Below is the issue; sorry I'm not doing it in your test context, but I'm slammed right now, and it's pretty straightforward.  :-)

Notes:

- Before adding CPK to this repo, the erring example below worked fine.
- Both of the classes below have the normal `id` field as their PK.
- I added CPK to this repo because I needed to nuke the `id` PK

[2021-02-17 02:11] ta1kt0me commented on #539
Thank you so much for your fix! I’ve confirm the problem is resolved.

[2021-02-17 03:57] cfis commented on #539
Could you test 12.0.8? I realized that I mistakenly commented out the original MySQL fix and then reimplemented again.

So just want to make sure this issue remains fixed in 12.0.8

[2021-02-17 04:04] cfis commented on #541
Thanks - that's helpful. So your fix is:

Change:

[code]

And add `commentable_type`.

And what code did you change to do that? Just change where the query is first setup?

[2021-02-17 17:22] brightbytes-dude commented on #541
To be clear, it's a workaround, not a fix.  :-)

But yeah, the workaround was to not use the polymorphic association, but rather just use the individual attributes of the polymorphic association.  So, all I had to do was `ag commentable` and do the replacement.

Ideally of course, I wouldn't have had to do that though. :-)

[2021-02-18 03:21] ta1kt0me commented on #539
@cfis I've tested 12.0.8 and confirmed that the issue exists again. Could you reopen this issue?

[2021-02-18 07:22] cfis commented on #539
Oh - interesting. Reopening.

[2021-02-18 22:50] thegorgon opened #545 "No License?"
Hey folks - this library looks great, but I don't see a software license. Any plans to add one?

[2021-02-19 04:16] cfis commented on #545
See the gemspec - its MIT.

[2021-02-19 19:44] #545 closed

[2021-02-21 06:51] rockorequin commented on #542
@codeodor: Thanks for doing this! I'm testing it with my app at the moment.

The only thing I've noticed so far is that I need to make this change for compatibility with ruby 3 in lib/composite_primary_keys/relation/where_clause.rb:

[code]
ie because ruby 3 no longer converts hashes to named arguments. I guess it's one of the conflicts with the main branch that you noticed?

What's the issue that

[2021-02-21 22:28] codeodor commented on #542
In my app, I'm having trouble where in (at least) one place it is converting the composite key to a string, and telling me it cannot find the column "key1, key2"

[2021-02-23 07:34] #539 closed

[2021-02-23 07:38] cfis commented on #539
Ok this is hopefully solved once and for all.

[2021-02-24 17:23] gravitystorm commented on #542
FWIW, I've found the same problem when testing our app ([OpenStreetMap](https://github.com/openstreetmap/openstreetmap-website)). I don't think it's a ruby 3 thing though - it's a change in method signature in rails 6.1.3 due to https://github.com/rails/rails/pull/41319

Applying the patch you suggest on top of 3404e440d34d9aa06ac121721b72f2c6b4978285 makes our test suite pass.

[2021-02-26 01:07] codeodor opened #546 "Does #find_each and #in_batches work?"
I just found a bug in my Rails 6.0 app where I use #find_each and it only pulls the first batch and operates on it.

I made a note that I need to check this in the Rails 6.1 PR, but wanted to open a new ticket in case someone else wants to look into it for 6.0 before I get to it.

[2021-02-26 01:08] codeodor commented on #546
Note I'm not *sure* it's due to CPK but this is the first place I'd look if I had a moment.

[2021-02-26 04:24] cfis commented on #546
There are some test cases for finding in batches...can you reproduce in CPK test set?

[2021-02-28 18:48] codeodor commented on #546
The test seem to work, even if I re-work to be more similar to my app.

The problem in my app is not necessarily `#find_each` though: it's that the first batch is returning 1000 rows, but only 998 records, because some of the rows contain the same record more than once.

I think this would be similar to:

[code]

In particular, including and referencing the `:head` association would return a row f

[2021-02-28 18:59] codeodor commented on #546
Line 31 in `batches.rb` reads like this:

`records = batch_relation.records`

In CPK tests, it runs two queries: one to get the IDs and one to get the records for those IDs.

In my app, however, it only runs one query, as if somehow it recognizes the need for it in CPK but not in mine.

[2021-02-28 19:19] codeodor commented on #546
Ok, if I correct the data in my app for the relationships of "has one" to where it actually only has one in the DB, this issue goes away. But, I don't understand why CPK would not exhibit the same problem, given that relationship with `head` on `department` should be the same thing: it pulls more than one record if it was in a query like this. So what is causing CPK to load by ID first, and my app

[2021-02-28 19:42] #546 closed

[2021-02-28 21:03] cfis commented on #546
Rails will do two queries if you use :includes as part of the query. Could that be it?

[2021-03-01 13:31] DCrow commented on #543
@cfis Any luck so far?

[2021-03-01 18:30] cfis commented on #543
Sorry didn't see your response. So I assume the :id field is the issue. There were some commits a while back to try and support having a field name using :id, previously that was a no go with CPK.

Anyway, will look again.

[2021-03-05 02:14] donncha opened #547 "delete doesn't return count of affected records"
`ActiveRecord::Persistence.delete(id_or_array)` is supposed to return the count of records deleted.

With CPK, it returns the array of ids passed into it.

The relevant code block is...
[code]
which is just going to return `id_or_array`.

[2021-03-05 02:24] donncha opened #548 "Find does not work without specifying values for both keys"
Given a model defined with `primary key (attr1, attr2)`, in Rails 5.x & CPK 11, the following works...
[code]
and results in the SQL
[code]

In Rails 6 w/ CPK 12, it fails as follows:
[code]

However, if you modify the param to be an array, then it still fails unless you specify a value for the second part of the PK.
[code]
and results in the SQL
[code]

Looking at the code, it seems the problem i

[2021-03-05 03:45] cfis commented on #547
Ah - thanks for pointing out.

[2021-03-05 03:48] cfis commented on #548
You can always do find(:attr1 => 100).

I'm not sure if we should or shouldn't support incomplete keys in a query.

[2021-03-12 19:37] tonyho1992 opened #549 "NULL's being turned into empty strings in DB queries"
I'm noticing a difference in queries between having composite_primary_keys when there are NULL fields in a primary_key. Here's an example:

[code]

[code]

TestModel has one element that looks like this:

![image](https://user-images.githubusercontent.com/619547/110989436-bc88a600-8326-11eb-8a7e-c6e3e353d780.png)

When I run `TestModel.includes(:testing_model)`, I get the following SQL log
[code]

[2021-03-19 20:29] codeodor commented on #549
Maybe there was a spot where we call `#to_s` when we shouldn't if it was `nil.`

What version of CPK are you running? Is it on Rails 6.1?

[2021-03-22 20:12] tonyho1992 commented on #549
We're on ruby 2.3.8 / rails 4.2.11

We're using a branched version of `ar_4.2.x`

[2021-03-22 21:42] cfis commented on #549
Hey @tonyho1992,

Maybe its like this - https://github.com/composite-primary-keys/composite_primary_keys/issues/306?

Unfortunately, as you probably know such an old version of Rails and CPK is no longer supported. I'm not sure if this issue is fixed in more recent versions of cpk, but you might want to do a quick experiment and find out.

[2021-03-22 21:42] #549 closed

[2021-03-23 03:18] cfis commented on #547
Are you working on Rails 6.0 or 6.1?

[2021-03-23 03:37] #547 closed

[2021-03-29 11:19] #522 closed

[2021-03-29 18:07] LyricL-Gitster opened #551 "NoMethodError (undefined method `composite?' for <uuid>:String)"
Currently running off of master (d815939).

I'm seeing an issue that is apparently related to queries on relations... possibly related to UUID's?

In this example, my **users** table has a **team_id** pointing to the **teams** table. Both are keyed by UUIDs.
[code]

I'm having trouble getting a full stacktrace, but judging by the method name it seems like an issue with this gem. It's pretty easily

[2021-04-04 17:56] stevehill1981 commented on #551
@LyricL-Gitster I just ran into this today, and your suggested fix worked beautifully. Thanks so much.

[2021-04-05 21:13] codeodor commented on #551
@LyricL-Gitster could you grab a full stack trace? Thanks!

[2021-04-07 08:35] nvanoorschot opened #552 "Explicit selections are dropped in ActiveRecord 6.0"
AR: 6.0.3.6
CPK: 12.0.9

In AR it is possible to explicitly select columns while using joins at the same time. CPK does not include these selections making them unavailable on the result set.

This results in a NoMethodError
[code]

I fixed this locally, all that seems to be required is to copy [this line](https://github.com/rails/rails/blob/v6.0.3.6/activerecord/lib/active_record/associations/joi

[2021-04-07 14:02] codeodor commented on #552
Thank you for doing the research on this! I don't have the time to write a test + fix it yet, but it's on my list.

[2021-04-07 14:05] codeodor commented on #542
@gravitystorm sorry for the late reply. There have been a couple of new bugs crop up that I have plans to fix. That's all I know about so far. Also, I think @cfis was going to get one of his old apps running on the new version to further test it before release.

[2021-04-07 15:17] gravitystorm commented on #542
Thanks for the update @codeodor. I'm very (very) keen to see a release, so if there's anything that I can do to help let me know.

Also if you think that it's reasonable to get a 13.0.0 out the door, with follow-ups for any bugs found or fixed later, then that works for me too!

[2021-04-07 20:33] LyricL-Gitster commented on #551
Sorry, for some reason I wasn't getting a full trace before and I assumed it was just being swallowed, but now I get this:
[code]

[2021-04-07 20:33] LyricL-Gitster commented on #551
Sorry, for some reason I wasn't getting a full trace before and I assumed it was just being swallowed, but now I get this:
[code]

[2021-04-07 20:43] LyricL-Gitster commented on #551
I still _should_ be getting at least the `where` call in that trace as well... not sure why rails console isn't showing it. Maybe a Ruby 3 thing?

[2021-04-08 07:36] cfis commented on #542
Yes, I'm good, the issue I had we fixed a couple weeks ago.

[2021-04-08 07:37] cfis commented on #552
Yes, agreed. Looks easy enough to fix, but need to add a test.

[2021-04-09 11:40] ningzhang422 opened #553 "Rails 6.1, default_scope , ArgumentError (wrong number of arguments (given 2, expected 1))"
I profit master in my project with Rails 6.1.0 and composite_primary_keys 13.0.0
https://stackoverflow.com/questions/67019545/migration-rails-6-1-argumenterror-exception-wrong-number-of-arguments?noredirect=1#comment118465545_67019545

[2021-04-12 18:06] mihaijurca opened #554 "Rails 6.1.3, active_record 6.1.3 ndefined method `composite?' for xxx:Integer"
I'm running with Rails 6.1.3, active_record 6.1.3 and I get the following error on a simple query for a model which doesn't have any composite PKs.

[code]

[2021-04-12 21:25] codeodor commented on #552
Well, I have some bad news.

I did:

[code]

And added this test:

[code]

And it passes with no other adjustments to CPK.

@nvanoorschot can you tell me a bit more about your data model, or look through the [models in CPK tests](https://github.com/composite-primary-keys/composite_primary_keys/tree/12.0.9/test/fixtures) and pick one and a relationship that roughly matches it so we can get the test

[2021-04-12 21:35] codeodor commented on #554
I think this is the same issue as #551

[2021-04-12 21:35] #554 closed

[2021-04-12 21:36] codeodor commented on #553
Can you upgrade to Rails 6.1.3?

They made a change between 6.1.0 and 6.1.3 that broke things and since we hadn't released yet, we are just going to target that minor release and above.

Thanks!

[2021-04-12 21:36] #553 closed

[2021-04-12 21:49] codeodor commented on #551
Thanks @LyricL-Gitster!

[2021-04-14 19:41] #551 closed

[2021-04-16 03:57] cfis commented on #552
Well good to have a  test!

[2021-04-27 09:36] DCrow commented on #543
@cfis Sorry to bother you again. Has there been any progress?

[2021-04-28 09:14] gravitystorm commented on #542
@codeodor It looks like your PR #555 fixed a couple of issues - were those the blockers that you were thinking of earlier? With those fixed, and @cfis happy too, are there any other blockers remaining?

[2021-04-28 13:36] codeodor commented on #542
@cfis  you want to go ahead with a release? I have been running in production for about 6 weeks or so, and had no issues found.

[2021-04-29 03:09] cfis commented on #542
Sure. What do you think of #556?

[2021-04-29 03:12] cfis commented on #543
Ah sorry, not yet...thanks for the reminder.

[2021-04-29 15:56] codeodor commented on #542
I left a comment there.

[2021-05-01 03:06] cfis commented on #543
If you update the code like this:

[code]

It works:

[code]

[2021-05-01 07:07] cfis commented on #543
See code here:

https://github.com/composite-primary-keys/composite_primary_keys/blob/master/lib/composite_primary_keys/active_model/attribute_assignment.rb

See this commit:

https://github.com/composite-primary-keys/composite_primary_keys/commit/b0413f5d6a85a341ad0ac7417430007bfcee63d0

Happy to review a pull request if you can come up with a better way of doing this.

[2021-05-04 07:28] DCrow commented on #543
This does work but I wanted to say that previously in 5.2
[code]
also worked.
In my project there are a lot of places where `id` is sent from js app to rails backend as an array. And it's not possible to change this behavior client side...
Which is why I needed this functionality from 5.2 version.

Isn't it possible to port some of the code used for this functionality in 5.2 to 6.0?

Also as you p

[2021-05-04 23:16] cfis commented on #543
The problem is that 5.2 was broken for people trying to use :id for a specific field in the key - which came up a few times. So going back to that doesn't really help.

Basically we want :id to mean 2 different things. To rails the :id method is the primary key (no matter the underlying column name) thus that's the same for cpk. Except when we want it to mean one specific column that is called :id

[2021-05-06 08:01] DCrow commented on #543
Isn't it still a problem in Rails?

When you have a key called :id which is not a primary key, and another key which is a primary key in the same table.
Then `id` method returns value from the primary key and not from underlying :id column.
I do understand that this is a rare case, but it does happen.

Which is why I'm not sure that this helped?

Maybe add some kind of config to alter between curr

[2021-05-09 06:27] cfis commented on #543
Ok, this should be fixed.

[2021-05-09 06:27] #543 closed

[2021-05-09 23:39] cfis commented on #542
Ok, I manually merged that pull request. Just cut a new version for Rails 6.1.

@codeodor - Thanks for all your hardwork doing the upgrade this cycle!

[2021-05-09 23:41] cfis commented on #552
Going to close this since we can't duplicate it. @nvanoorschot  - happy to reopen if you can review the test case @codeodor added and see why its not duplicating what you are seeing.

[2021-05-09 23:47] cfis commented on #541
Sorry again for not following up.

So it sounds like you have custom `to_param` method that CPK breaks. Can you share your overridden `to_param` method? CPK overrides it here:

https://github.com/composite-primary-keys/composite_primary_keys/blob/edfd7fdded0ac10e887d6d907b4f4ef77aa07180/lib/composite_primary_keys/base.rb#L137

But only for classes that have a composite key.

[2021-05-09 23:55] cfis commented on #468
Sorry, its been a long time at this point and I don't remember.  I don't really know what to do about this. We could fix ActiveView but do we really want to pull that in as dependency? I guess we could have an overridden method but not actually load it, and then its up to the user to load it.

@codeodor - Since I'm not using Rails anymore I'll leave it up to you if you want to go down that route o

[2021-05-09 23:59] #548 closed

[2021-05-09 23:59] cfis commented on #548
@donncha - Rereading your comment, your idea of zipping first on values then keys is an interesting one. I made the change and all tests pass, so seems like it works. Mind trying against the master branch and see if it fixes your issue?

[2021-05-10 19:26] brightbytes-dude commented on #541
I shared it above: see the `class AddOn ...` definition.

[2021-05-10 19:28] brightbytes-dude commented on #541
Oh, and the problem was that CPK overrode it for a totally unrelated class.

Could it be because the to_param is declared as via `alias_attribute`??

[2021-05-11 02:10] cfis commented on #541
Could be. Looks like to_param is now in integration.rb (ActiveRecord::Integration) so the cpk definition should be updated anyway.

What happens if you just comment out the CPK definition?

What version of Rails are you using?

[2021-05-11 08:14] DCrow commented on #543
Thanks!

And it seems after b0413f5 `to_json` also stopped returning an array for `id`.
Is there any way to revert this to old behavior?

[2021-05-12 01:54] cfis commented on #543
In that case, I don't see a way we can distinguish the two cases (id method versus id attribute).

[2021-05-13 07:54] DCrow commented on #543
Yes, and as far as I understand this behavior(when id returns primary key values instead of attribute) should be correct.
See https://github.com/rails/rails/issues/34402 for more details.

[2021-05-31 04:17] cfis commented on #543
Yeah, sorry, I know that's annoying....

[2021-06-02 10:57] ikak0nek0chanpanda commented on #316
Now i use the latest release CPK(13), activerecord-sqlserver-adapter 6.1.0.0.rc1, active record6.1.3.1
but, i'm also runnning into this same issue:

EXEC sp_executesql N'SELECT [due_balances].* FROM [due_balances] ORDER BY [due_balances].["id_account", "due_date"] ASC OFFSET 0 ROWS FETCH NEXT @0 ROWS ONLY', N'@0 int', @0 = 1  [["LIMIT", nil]]
Traceback (most recent call last):
        1: from (irb

[2021-06-02 13:02] codeodor commented on #316
Can you show the full stack trace?

[2021-06-03 02:58] ikak0nek0chanpanda commented on #316
@codeodor
this is full stack trace.

["/.../vendor/bundle/ruby/2.5.0/gems/activerecord-sqlserver-adapter-6.1.0.0.rc1/lib/active_record/connection_adapters/sqlserver/database_statements.rb:447:in `each'",
 "/.../vendor/bundle/ruby/2.5.0/gems/activerecord-sqlserver-adapter-6.1.0.0.rc1/lib/active_record/connection_adapters/sqlserver/database_statements.rb:447:in `handle_to_names_and_values_dblib'",

[2021-06-03 14:37] mediafinger opened #558 "ArgumentError: Polymorphic association does not support to compute class"
Thank you for maintaining this library 😃
We only encountered it now, after having a composite index in one of our MySQL tables and threw it in the mix. Surprisingly this leads to multiple errors in unrelated classes:

The call to `source_reflection.klass` will raise the ArgumentError:
`Polymorphic association does not support to compute class`
when `source_reflection.klass` is polymorphic.

[code]

[2021-06-12 01:30] mattlong opened #559 "Don't share seen object cache between different join nodes"
Hello, I stumbled across a bug in composite_primary_key where objects are not added to any but the first association/join to a given model. It's the exact issue that was addressed in https://github.com/rails/rails/commit/d9dcae34c35756e8520c8ede82fb4d6ebc166f0b. Looking at the CPK code, that fix was not ported over.

I observed this using rails 5.2.6 and CPK 11.3.1. I'm happy to submit a PR for th

[2021-08-19 21:14] jasonkarns opened #562 "early rails 7 testing"
We dual-boot Rails to make version upgrades painless. Now that 6.1 has been released for a bit, we're preparing to dual boot with the 7.0 (alpha) release from github master.

However, we can't presently resolve our dependencies because CPK is pinned to 6.1.

Can CPK master branch relax the version constraint so interested teams can get a head start on using CPK with Rails 7?

(Or if not master, th

[2021-08-19 22:09] codeodor commented on #562
@jasonkarns I am unable to think through the ramifications for doing that on the master branch, but if you wouldn't mind, I would gladly accept a PR for whatever you need and make a new branch out of it.

Sorry, I am just so swamped the last few months.

[2021-08-20 19:29] eni9889 opened #563 "Belong To With Different Keys not generating correct SQL"
Hi All,

I have the following models in Rails 5.2.x:

[code]

[code]

When I run:
[code]

I get the following query which doesn't make sense to me:

[code]

`partitioned_customers.id` should not be checked against null. Can anyone point me in the right direction?

Thanks for the help

[2021-08-20 19:39] eni9889 commented on #563
My mistake I fixed it

[2021-08-20 19:39] #563 closed

[2021-08-21 06:31] cfis commented on #562
@jasonkarns - The dependency is intentional because every Rails upgrade breaks CPK.

Would be more than happy to welcome contributions to get CPK working with Rails 7, but those changes should be done in a separate branch.

[2021-08-21 06:31] #562 closed

[2021-08-21 07:25] cfis commented on #558
I'm ok with that change. Would you be able to submit a patch with a test case?

[2021-08-21 07:28] cfis commented on #559
Its certainly possible a change wasn't ported over.  Rails 5.2 is fairly old though at this point and not actively supported by CPK. But happy to take a patch.

[2021-08-30 15:28] jasonkarns commented on #562
Right, but isn't that handled by the released gem's gemspec? I'd think that with breakages this common, we'd want CPK master capable of running against Rails master–to catch all the new breakages early and often? That way, end users can be running vnext dual-boot setups and, in essence, crowd-source CPK's integration suite.

In addition to getting the benefit of "in the wild" test coverage, CPKs o

[2021-09-01 00:20] eni9889 opened #565 "Primary key based on through assocciation"
I have the following models:

[code]

I want to be able to call `Customer.all.first.email_status` but when I do the`user_id` is nil. How do I get the composite keys lib to use the `shop.user_id` column?

I appreciate any help you can give.

[2021-09-07 07:12] cfis commented on #562
The problem is that ActiveRecord upgrades break a lot of stuff in CPK. Each upgrade requires going through each line of CPK, see how the underlying ActiveRecord implementation has changed, and then update CPK. Its a long, manual process.

[2021-09-07 07:39] cfis commented on #565
Its hard to tell from your example, you aren't showing the user_id field in the EmailStatus or Customer table. In addition, not sure what you mean by shop.user_id column since you never specify it anyplace.

[2021-09-07 21:21] jasonkarns commented on #562
Right, I don't discount that this requires manual changes. I just fail to see what is gained by preventing users from running edge CPK against edge Rails. Allowing it would enable users to uncover breakage _before_ Rails is released instead of after. (It would also mean that triangulating the commits in Rails could be automated with a bisect script.)

I guess what it comes down to is: "Is it the p

[2021-09-11 08:03] cfis commented on #562
Because running edge against edge Rails doesn't work, there is nothing to be gained. And it is never a matter of a few fixes - its usually quite a lot of development.

Once work starts on Rails 7 support, a 6.1 branch will be created and then master will move to 7.0.

Happy to take contributions to get 7.0 support started!

[2021-11-15 10:05] pranjal0819 opened #566 "Getting Error when I try to delete_all data in batch"
When i try to delete data in batch using `limit()` it throw `NoMethodError` error

[code]

[2021-11-16 07:39] cfis commented on #566
Could you provide some more information? What is the definition of Account? What version of Rails? Also, please include a full traceback not just a couple lines.

[2021-11-16 18:49] tomhughes opened #567 "Exception with join in 13.0.1"
The change to join associations in 13.0.1 is causing an exception in our code:

[code]

The trigger appears to be this join:

[code]

Where that join is defined by:

[code]

[2021-11-22 10:15] pranjal0819 commented on #566
Sure,

`Account` is the object of `ActiveRecord::Base`
Ruby version: `ruby-2.6.6`
Rails version: `'rails', '~> 5.2.4.5'`

[code]

Project link: https://github.com/openware/peatio

[2022-01-10 06:05] cfis commented on #566
Sorry for the late reply. So that's a pretty old version of Rails and CPK. Happy to take a patch if you'd like to send one in, but right now we are only supporting Rails 7 and 6.1.

[2022-01-10 06:05] #566 closed

[2022-01-10 06:09] cfis commented on #567
This should now be fixed, although I couldn't actually figure out a running test case that could duplicate it. Using left_joins in the association like you show always ends up with an invalid query. Can't have LEFT OUTER JOIN after an ON.

[2022-01-10 06:09] #567 closed

[2022-01-10 06:17] cfis commented on #562
Rails 7.0 support has been released in CPK 14.0.0 thanks to the work of @codeodor!

[2022-01-10 06:19] cfis commented on #559
Going to close this since haven't heard back.

[2022-01-10 06:19] cfis commented on #565
Going to close this since haven't heard back.

[2022-01-10 06:19] #565 closed

[2022-01-10 06:36] #558 closed

[2022-01-10 06:37] cfis commented on #558
After looking at this again, I think your patch is good enough for now and I applied it to the Rails 6.1 and Rails 7 branches. Thanks!

[2022-01-10 06:46] cfis commented on #541
I removed CPK's override on the to_param method, so hopefully that will fix this issue (you can remove it yourself if an older version of Rails (6.0 or older) and see what if the issue is fixed.

Thanks!

[2022-01-10 06:46] #541 closed

[2022-01-10 06:54] cfis commented on #559
Note I did look at the CPK override for this in newer versions of Rails and the change has been ported.

[2022-01-10 06:54] #559 closed

[2022-01-10 15:09] codeodor commented on #562
@cfis could we maintain a separate branch for this? Re-reading it, I think I understand better what @jasonkarns  was talking about. I've often wanted to run CI against edge rails to be able to fix bugs before I get into upgrade mode, but it is near impossible due to dependencies. If we did this, someone might catch errors and put in PRs for them before we get to upgrading as a bulk process.

[2022-01-11 00:13] cfis commented on #562
A separate branch for the next version of Rails? So a branch called edge? If that is what you mean, sure.

I could see it being useful if over the course of a Rails development cycle each relevant change to ActiveRecord could then be propagated to CPK. Of course someone would have to be doing that....otherwise I don't really see the point. But its easy to create a branch and see.

[2022-02-03 16:35] magec opened #569 "Error when creating records using version 11.3.1 `NoMethodError: undefined method 'zip' for nil:NilClass`"
Hello!

First of all, thanks for the gem!

Today I was trying to migrate a rails app from 5.1 to 5.2 and faced an issue related to `composite_primary_keys`.

I am consistently getting:

[code]
When trying to create a new record using composite primary key

The offending line is [this one](https://github.com/composite-primary-keys/composite_primary_keys/blob/0b77a9a244de17ad9c65d6ce226c23a7e3cc28fa

[2022-02-03 19:45] cfis commented on #569
Looking at the code, I would guess the table doesn't have a primary key. Is that the case?

[2022-02-04 09:38] magec commented on #569
The description of the table is as follows:

[code]
It has a composed primary key which acts as a foreing key from another table.

[2022-02-09 14:01] Tiikara opened #571 "After update to rails 7.0.2: NoMethodError: undefined method record_changed?"
### Steps to reproduce
This error encountered on `model.update(attrs)` after update rails from 7.0.1 to 7.0.2. On 7.0.1 works perfectly.

### Expected behavior
Should successfull update

### Actual behavior

[code]

### System configuration
**Rails version**: 7.0.2

**Ruby version**: 3.1.0

[2022-02-11 12:47] ianfleeton commented on #571
This method has changed in Rails from #record_changed? to #_record_changed between 7.0.1 and 7.0.2.

Appears fixed with autosave_assocation.rb line 17 changed to:
`if (autosave && record.changed_for_autosave?) || new_record? || _record_changed?(reflection, record, key)`

[2022-02-14 03:46] zach-sim commented on #571
For other who see this issue before the pr is merged, the below monkey-patch is a good temporary fix.

[code]

[2022-02-14 05:42] cfis commented on #571
Fixed by #570.

[2022-02-14 05:42] #571 closed

[2022-02-14 05:43] cfis commented on #569
Sorry, I mean defined in ActiveRecord by ruby code.

[2022-02-16 11:56] magec commented on #569
Im going to close this, in the end, the reason behind was that the code I was working with had some monkeypatching on top of composite_primary_keys, mainly because it allows using 'single' primary key if there is an id field on the database. I have accommodated the thing to work after the upgrade.

[2022-02-16 11:56] #569 closed

[2022-02-17 09:23] cfis commented on #569
Ok cool - thanks for the update.

[2022-05-05 22:57] KidA001 opened #573 "ActiveRecord::StatementInvalid when calling delete_all on composite_primary_keys table"
We just upgraded to `Rails 6.1.5.1` from `5.2.6`. We have one model which uses Composite Primary Keys.

[code]

If I call `delete_all` on a AR Relation of readings (i.e. `Reading.all.delete_all` it throws the following error
[code]

This was previously working in our older version of rails.

[code]

Any help appreciated 🙏

[2022-05-06 00:07] codeodor commented on #573
That said, any way you could submit a PR that has a test case that fails
for this? Even if I can't get to it quickly, @cfis might, and it would at
least make it easy to reproduce in the CPK code, which would reduce
friction if I do find some time to look into it.

On Thu, May 5, 2022 at 7:05 PM Sammy Larbi ***@***.***> wrote:

[2022-05-06 01:26] codeodor commented on #573
I remember running into something like this and making a workaround in my
code. I don't remember enough of the details to know where to look it up in
my codebase, but I am curious to know if it's still present in the latest
version on Rails 7 and I am keen to fix it if it is. (Or figure out how we
fixed it and backport it if it's not).

Unfortunately I am more than swamped over the last several mo

[2022-05-06 16:11] KidA001 commented on #573
@codeodor thank you for the response. I forked and tried creating a failing spec but so far no luck. That said I found some more info. It looks like `update_all` fails as well. Based on the message you posted I grep'd through the commits to see if I can find something and it looks like 1e238902e5a5df97eb344926869d5af6ccda3787 fixed this issue but not on Postgresql. Is this the fix you might have b

[2022-05-10 00:23] cfis commented on #573
Hmm, there are tests for delete_all and update_all which pass (including postgresql). So I wonder what is different in your usage versus what the tests are doing?

[2022-05-10 18:26] KidA001 commented on #573
One difference I am seeing when I run `delete_all` in my old version of Rails and New version is in the new one (that's broken) it's doing a sub-select statement.

So for instance in my working version if I do
[code]
The sql it executes is:
[code]

Whereas in my new Rails 6.1 it executes with a sub-select that should return the ID's for the IN statement which fails:
[code]

It doesn't consider `"r

[2022-05-10 19:48] KidA001 commented on #573
So I have "Fixed" the issue by changing the `if` statement for CPK from
[code]
to
[code]
as `Reading` is our only CPK model

So now this is what executes:
[code]

I also had to move
[code]
above that statement otherwise it executes as an invalid SQL statement.

I did a similar patch for `update_all`

This is a temporary fix obviously, but I'm wondering if it gives any hints on your end  to the iss

[2022-05-22 21:28] cfis commented on #573
@codeodor - You added the regex check in the upgrade to Rails 6.1 (see https://github.com/composite-primary-keys/composite_primary_keys/commit/9035a54587d6dbbc5bf498a3ff507a5fa245ad90#diff-1965ba86b287586c5ee6c882683937891f693e0a923796a1ef5e12bf56f576cb).

If I remove it, all tests still pass.

I'm not sure why the regex was added or is needed. Do you remember? Can we remove that check?

[2022-05-24 15:25] codeodor commented on #573
I added it due to a major performance problem I was having with it: https://github.com/composite-primary-keys/composite_primary_keys/pull/504

Basically, a query that should have taken the form:

`delete from table where non_id = 30`

Instead took the form:

`delete from table where (id1, id2) in (select id1, id2 from table where non_id = 30)`

(or something like that)

The subquery caused a massi

[2022-05-24 15:27] codeodor commented on #573
It could be that work we later did, or an upgrade of MySQL, has fixed the performance issue. If it's causing a problem here, I don't mind if we remove it, but ideally we'll add a test that fails with this code still included, that way if I discover the performance problem again, I would have to fix it in a way that won't break the code for someone else.

[2022-05-25 01:33] cfis commented on #573
Yes, agreed having a test case would be really good. @KidA001 what database are you using? Anything in the CPK test models that looks like it could be used to reproduce the issue?

[2022-08-10 08:31] willnet opened #577 "AR#preload doesn't work as expected with duplicated ids in 13.0.3"
If execute AR#preload method from a model with duplicate ids, the associated model will be incorrect.

This seems to be the problem with ActiveRecord::Associations::Preloader::Association#records_by_owner.
https://github.com/composite-primary-keys/composite_primary_keys/blob/721742c60c166f9091b1086fa5af0f41c2806ee7/lib/composite_primary_keys/associations/preloader/association.rb#L36-L48

Rails its

[2022-09-06 22:28] bf4 opened #578 "Wrong arity for uniqueness validate_each"
- Gem .bundle/vendor/ruby/3.0.0/gems/composite_primary_keys-14.0.4/lib/composite_primary_keys/validations/uniqueness.rb:21:in `validate_each'",
- Ruby 3.0.3
- Rails 7.0.3.1

raise "wrong number of arguments (given 0, expected 1)"

triggered by a validation like

[code]

see

- https://github.com/rails/rails/pull/39602
- https://github.com/rails/rails/commit/ab20be81e338a1c0bd996c64600b7a2d8fd6ed3f

[2022-09-11 21:20] bf4 commented on #468
Given the age of this issue, it's likely stale and should be closed without a test case that can make a current version fail

[2022-09-28 09:14] styrken opened #580 "arm64-darwin-21"
Hi,

I am getting this error while running `bundle install`

Is there anything that can be done to fix that? Thank you

[2022-10-07 17:58] toddwf opened #581 "cpk fails when used with rspec stub_model in rails 6.0"
There seems to be a longstanding issue with using cpk with rspec-mocks.   I only have a partial solution to the problem.  I'll post code after the weekend but I wanted to ask whether anyone's had problems with rspec stub_model (rspec 3.11.0 rspec-mocks 3.11.1) and since it is involving rspec (specifcally rspec-mocks) how it should be handled.   It would ultimately be a patch to the rspec code.

Th

[2022-10-10 08:01] berniechiu opened #582 "ActiveStorage Support?"
Hi @cfis, thanks for the nice gem.

Currently we have a simple setup

[code]

Basically ActiveStorage only records one primary id under `record_id` for storage table, but that's fine. We would like to just want to continue to record the `:id` instead of `[:id, :shop_id]`

Basically the fetching looks fine
[code]

However, the `attach` action can't seem to grep any `:id` correctly.
[code]

Thanks f

[2022-10-15 06:11] cfis commented on #582
Hmm, sorry, haven't ever used ActiveStorage. Happy to take a patch if you want to work out a fix.

[2022-10-15 06:12] #578 closed

[2022-10-15 06:13] cfis commented on #581
I've only ever used minitest with CPK so not sure. Good luck and happy to take a patch if you develop one.

[2022-10-15 06:15] cfis commented on #580
Hmm, composite_primary_key is pure ruby gem so the platform is irrelevant.

It does depends on some native gems (like postgresql) but that isn't what your error message mentions. I'm guessing this is something unique to your environment so closing.

[2022-10-15 06:15] #580 closed

[2022-10-15 06:25] cfis commented on #468
Yes, agreed.

[2022-10-15 06:25] #468 closed

[2022-10-16 18:49] bf4 opened #583 "Tracking issue: Rails first class cpk support"
https://discuss.rubyonrails.org/t/rfc-finally-support-composite-primary-keys/81368/7?u=bf4

and

[2022-10-17 06:56] cfis commented on #583
Thanks for the tip - I left a comment in that discussion. Should this ticket be left open or closed?

[2022-10-17 14:04] bf4 commented on #583
Your call as a maintainer. I thought it might be useful to cross link the repository with the issue.

[2022-10-17 21:56] mghadley opened #584 "Does not work with string primary keys"
I am trying to use this gem with the Google Spanner database and it is so close to working. I am using GUIDs as primary keys and need to store them as strings. The `t.parent_key` method creates an integer column. The migration then breaks because the interleaving then looks for an integer primary key in the parent table. Unless I have missed it, there is no way to specify the `parent_key` column t

[2022-10-20 20:05] #584 closed

[2022-10-30 01:29] cfis commented on #583
Ok cool.

[2022-10-30 01:29] #583 closed